@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    background:rgb(171, 171, 194) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{position: relative;   
    margin-right:20px;
    margin-left: 20px; 
    box-shadow: 30px 30px 40px black;
    border-radius: 5px;
}
.container{
    display: flex ;
    background:#333;
		height: 200px;
    top: 100px;
    padding: 30px 90px 70px 100px;
		padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin-right:20%;
    margin-left: 20%; 
}
.HMS{
    display: flex ;
    background: #09ac76;
    top: 20px;
    padding: 6px 15px ;
    margin-bottom: 10px;
}
p{
   color: oldlace; 
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
}
p.horas {
    color: black ; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
 }
 p.minutos  {
    color: black; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
 }
p.segundos {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
 }
p:hover{
    font-style: inherit;
    font-size: 40px;
    justify-content: center;
    transition-duration: 2s;
}